
		<%if(isNotEmpty(inputIcon)){%>
		<div class="input-group" readonly="readonly">
			<div class="input-group-addon">
				<i class="${inputIcon}"></i>
			</div>
			<%}%>
			<input type="${type!'text'}" class="${class!''}" id="${id !''}" name="${id !''}" value="${value!''}" ${isNotEmpty(readonly) ? 'readonly':''} onclick="${clickFun!''}" style="${style!''}" autocomplete="${autocomplete!}" >
			<%if(isNotEmpty(hidden)){%>
			<input class="form-control" type="hidden" id="${hidden}" value="${hiddenValue!}">
			<%}%>
		<%if(isNotEmpty(inputIcon)){%>
			</div>
		<%}%>


