<%layout("/layout/body.html",{title:'在线用户管理',libs:['jqgrid']}){%>
<section class="content">
    <div class="box" style="margin-bottom: 0px">
        <div class="box-header with-border">
            <h3 class="box-title">在线用户</h3>
        </div>
        <div class="box-body">
            <form id="searchForm" action="${ctxPath}/session/list" class="form-inline hide">
            </form>
            <table id="dataGrid"></table>
        </div>
    </div>
</section>
<%}%>
<script>
    $('#dataGrid').dataGrid({
        searchForm: $("#searchForm"),
        columnModel: [
            {header: 'SessionId', name: 'id', index: 'id', width: 100, align: "center",hidden:true},
            {header: '用户账号', name: 'userName', index: 'user_name', width: 100, align: "center"},
            {header: '用户主机地址', name: 'host', index: 'host', width: 100, align: "center"},
            {header: '用户登录时系统IP', name: 'systemHost', index: 'systemHost', width: 100, align: "center"},
            {header: '状态', name: 'status', index: 'status', width: 100, align: "center"},
            {header: '登录时间', name: 'startTimestamp', index: 'start_timestamp', width: 100, align: "center"},
            {
                header: '操作',
                name: 'actions',
                width: 40,
                align:'center',
                formatter: function (val, obj, row, act) {
                    var actions = [];
                    actions.push('<a href="${ctxPath}/session/forceLogout?id=' + row.id + '" class="btnList" title="踢出用户" data-confirm="确认要踢出该用户吗？"><i class="fa fa-sign-out"></i></a>&nbsp;');
                    return actions.join('');
                }
            }
        ],
        // 加载成功后执行事件
        ajaxSuccess: function (data) {

        }
    });
</script>