<%layout("/layout/body.html",{title:'菜单管理',libs:['jqgrid']}){%>
<section class="content-header" style="margin-bottom: 10px">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">系统管理</a></li>
        <li class="active">菜单管理</li>
    </ol>
</section>
<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">菜单管理</h3>
            <div class="box-tools pull-right">
                <a href="#" class="btn btn-sm btn-default" id="btnRefreshTree" title="刷新"><i class="fa fa-refresh"></i> 刷新</a>
                <a href="#" class="btn btn-sm btn-default" id="btnExpandTreeNode" title="展开一级"><i class="fa fa-angle-double-down"></i> 展开</a>
                <a href="#" class="btn btn-sm btn-default" id="btnCollapseTreeNode" title="折叠全部"><i class="fa fa-angle-double-up"></i> 折叠</a>
                <a href="#" class="btn btn-sm btn-default" id="btnSearch" title="查询"><i class="fa fa-filter"></i> 查询</a>
                <button type="button" class="btn btn-sm btn-default" style="width: 60px" onclick="bet.addTabPage('新增菜单','/menu/form')">新增</button>
            </div>
        </div>
        <div class="box-body">
            <form style="margin: 10px" id="searchForm" action="${ctxPath}/menu/list" method="post" class="form-horizontal hide">
                <input id="pageNo" name="pageNo" type="hidden" value="0">
                <input id="pageSize" name="pageSize" type="hidden" value="">
                <input id="orderBy" name="orderBy" type="hidden" value="">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">菜单名称</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" name="name">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-sm btn-default" style="width: 60px">查询</button>
                        <button type="reset" class="btn btn-default btn-sm">重置</button>
                    </div>
                </div>
            </form>
            <table id="dataGrid"></table>
            <div id="dataGridPage"></div>
        </div>
    </div>
</section>
<%}%>
<script>
    //初始化DataGrid对象
    $('#dataGrid').dataGrid({
        searchForm: $("#searchForm"),
        columnModel: [
            {header:'菜单名称', name:'menuName', width:200, formatter: function(val, obj, row, act){
                    return '<i class="'+row.icon+'"></i> <a href="/sys/menu/form?id='
                        +row.id+'" class="btnList" data-title="编辑菜单">'+val+'</a>';
                }},
            {header:'链接', name:'url', width:150},
            {header:'是否是按钮', name:'type', width:150},
            {header:'创建时间', name:'createDate', width:150},
            {header:'排序', name:'sort', width:63, align:"center", formatter: function(val, obj, row, act){
                    var html = [];
                    html.push('<input type="hidden" name="ids" value="'+row.id+'"/>');
                    html.push('<input name="sorts" type="text" value="'+row.sort+'" style="width:50px;height:19px;margin:0;padding:0;text-align:center;border:1px solid #ddd">');
                    return html.join('');
                }},
            {header:'权限标识', name:'perms', width:150},
            {header:'操作', name:'actions', width:100, sortable:false, align:"center", formatter: function(val, obj, row, act){
                    var actions = [];
                    actions.push('<a href="/sys/menu/form?id='+row.id+'" class="btnList" title="编辑菜单"><i class="fa fa-pencil"></i></a>&nbsp;');
                    actions.push('<a href="/sys/menu/delete?id='+row.id+'" class="btnList" title="删除菜单" data-confirm="确认要删除该菜单及所有子菜单吗？" data-deltreenode="'+row.id+'"><i class="fa fa-trash-o"></i></a>&nbsp;');
                    actions.push('<a href="/sys/menu/form?parentId='+row.id+'" class="btnList" title="新增下级菜单"><i class="fa fa-plus-square"></i></a>&nbsp;');
                    return actions.join('');
                }}
        ],
        treeGrid: true,			// 启用树结构表格
        defaultExpandLevel: 0,
        expandNodeClearPostData: 'menuName',
        // 加载成功后执行事件
        ajaxSuccess: function(data){

        }
    });
</script>