<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simple.bets.modular.sys.dao.RoleMenuMapper">
  <resultMap id="BaseResultMap" type="com.simple.bets.modular.sys.model.RoleMenuModel">
    <result column="id" jdbcType="DECIMAL" property="id" />
    <result column="role_id" jdbcType="DECIMAL" property="roleId" />
    <result column="menu_id" jdbcType="DECIMAL" property="menuId" />
  </resultMap>
</mapper>