<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simple.bets.modular.sys.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.simple.bets.modular.sys.model.UserModel">
        <id column="user_id" jdbcType="DECIMAL" property="userId"/>
         <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="dept_id" jdbcType="DECIMAL" property="deptId"/>
        <result column="dept_name" jdbcType="DECIMAL" property="deptName"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime"/>
        <result column="sex" jdbcType="CHAR" property="sex"/>
        <result column="birthday" jdbcType="TIMESTAMP" property="birthday"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="status" jdbcType="CHAR" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="crateTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="operator" jdbcType="VARCHAR" property="operator"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
        <result column="user_status" jdbcType="CHAR" property="userStatus"/>
        <result column="login_ip" jdbcType="VARCHAR" property="loginIp"/>
    </resultMap>

    <select id="findUserWithDept" resultType="com.simple.bets.modular.sys.model.UserModel"
            parameterType="com.simple.bets.modular.sys.model.UserModel">
        select u.user_id userId,u.username,u.email,u.mobile,u.status,u.create_time createTime,
        u.sex,d.dept_name deptName from sys_user u
        left join sys_dept d on(u.dept_id = d.dept_id)
        where 1=1
        <if test="username != null and username != ''">
            AND u.username = #{username}
        </if>
        <if test="deptId != null and deptId != ''">
            AND d.dept_id = #{deptId}
        </if>
        <if test="sex != null and sex != ''">
            AND u.sex = #{sex}
        </if>
        <if test="status != null and status != ''">
            AND u.status = #{status}
        </if>
        order by u.user_id
    </select>


    <select id="findUserWithRole" resultType="com.simple.bets.modular.sys.model.UserWithRoleDTO">
		select u.user_id userId,u.username,u.dept_id deptId,u.email,u.mobile,
		u.status,u.sex,ur.role_id roleId from sys_user u
		left join sys_user_role ur on (u.user_id = ur.user_id)
		where u.user_id = #{userId}
  </select>

    <select id="findUserProfile" resultType="com.simple.bets.modular.sys.model.UserModel"
            parameterType="com.simple.bets.modular.sys.model.UserModel">
	SELECT
		U .username,
		U .user_id userId,
		U .mobile,
		U .email,
		U .avatar,
		U .remarks,
		U .sex,
		group_concat(r.role_name) AS roleName
	FROM
		sys_user U
	LEFT JOIN sys_user_role ur ON U .user_id = ur.user_id
	LEFT JOIN sys_role r ON r.role_id = ur.role_id
	WHERE
		U .user_id = #{userId}
	GROUP BY
		U .username,
		D .dept_name,
		U .mobile,
		U .email,
		U .avatar,
		U .remarks,
		U .sex,
		U .user_id
  </select>

</mapper>