<!--checkbox美化-->
<link rel="stylesheet" href="${ctxPath}/plugins/iCheck/all.css">
<!--select2-->
<link rel="stylesheet" href="${ctxPath}/plugins/select2/select2.css">
<!--提示框-->
<link rel="stylesheet" href="${ctxPath}/plugins/toastr/toastr.min.css">
<!-- 进度条 -->
<link rel="stylesheet" href="${ctxPath}/plugins/pace-master/themes/blue/pace-theme-flash.css">
<%if(tool.argsIsExitsStr('jqgrid',libs!)){%>
<!--jqgrid-->
<link rel="stylesheet" href="${ctxPath}/plugins/jqgrid/4.7/css/ui.jqgrid.css">
<%}%>
<%if(tool.argsIsExitsStr('validate',libs!)){%>
<link rel="stylesheet" href="${ctxPath}/plugins/jquery-Validate/1.16/jquery.validate.css">
<%}%>
<%if(tool.argsIsExitsStr('file',libs!)){%>
<link rel="stylesheet" href="${ctxPath}/plugins/webuploader/webuploader.css">
<link rel="stylesheet" href="${ctxPath}/plugins/webuploader/fileupload.css">
<%}%>
<%if(tool.argsIsExitsStr('cropper',libs!)){%>
<link rel="stylesheet" href="${ctxPath}/plugins/cropper/cropper.css">
<%}%>
<!--ztree-->
<link rel="stylesheet" href="${ctxPath}/plugins/ztree/bootstrapztree.css">