
<!--checkbox美化-->
<script src="${ctxPath}/plugins/iCheck/icheck.js"></script>
<!--adminLTE 框架-->
<script src="${ctxPath}/plugins/adminLTE/app.js"></script>
<!--select-->
<script src="${ctxPath}/plugins/select2/select2.js"></script>
<!--toastr提示框-->
<script src="${ctxPath}/plugins/toastr/toastr.min.js"></script>
<!--loading加载窗-->
<script src="${ctxPath}/js/jquery.blockUI.js"></script>

<script src="${ctxPath}/plugins/My97DatePicker/WdatePicker.js"></script>
<!--进度条-->
<script type="text/javascript" src="${ctxPath}/plugins/pace-master/pace.min.js"></script>
<%if(tool.argsIsExitsStr('tree',libs!)){%>
<!--ztree-->
<script src="${ctxPath}/plugins/ztree/jquery.ztree.core.js"></script>
<script src="${ctxPath}/plugins/ztree/jquery.ztree.excheck.js"></script>
<script src="${ctxPath}/plugins/ztree/jquery.ztree.exedit.js"></script>
<%}%>
<%if(tool.argsIsExitsStr('template',libs!)){%>
<!--模板-->
<script src="${ctxPath}/js/template-web.js"></script>
<%}%>
<%if(tool.argsIsExitsStr('jqgrid',libs!)){%>
<!--jqgrid-->
<script src="${ctxPath}/plugins/jqGrid/js/jquery.jqGrid.js"></script>
<script src="${ctxPath}/plugins/jqGrid/js/jquery.jqGrid.extend.js"></script>
<script src="${ctxPath}/plugins/jqGrid/js/i18n/zh_CN.js?"></script>
<%}%>
<%if(tool.argsIsExitsStr('Chart',libs!)){%>
<script type="text/javascript" src="${ctxPath}/plugins/chartjs/Chart.js"></script>
<%}%>
<%if(tool.argsIsExitsStr('validate',libs!)){%>
<!--jquery validate-->
<script src="${ctxPath}/plugins/jquery-Validate/1.16/jquery.validate.js"></script>
<script src="${ctxPath}/plugins/jquery-Validate/1.16/localization/messages_zh_CN.js"></script>
<script src="${ctxPath}/plugins/jquery-Validate/1.16/jquery.validate.extend.js"></script>
<%}%>
<%if(tool.argsIsExitsStr('file',libs!)){%>
<script src="${ctxPath}/plugins/webuploader/webuploader.js"></script>
<%}%>
<%if(tool.argsIsExitsStr('cropper',libs!)){%>
<script type="text/javascript" src="${ctxPath}/plugins/cropper/cropper.js"></script>
<%}%>
<%if(tool.argsIsExitsStr('highchart',libs!)){%>
<script src="${ctxPath}/plugins/highchart/highcharts.js"></script>
<script src="${ctxPath}/plugins/highchart/exporting.js"></script>
<script src="${ctxPath}/plugins/highchart/highcharts-zh_CN.js"></script>
<%}%>
<%if(tool.argsIsExitsStr('layout',libs!)){%>
<script src="${ctxPath}/plugins/jquery-plugin/jquery-ui-draggable-1.12.1.min.js"></script>
<script src="${ctxPath}/plugins/jquery-plugin/jquery-ui-effect-1.12.1.min.js"></script>
<script src="${ctxPath}/plugins/jquery-plugin/jquery.layout-latest.js"></script>
<%}%>
