<%layout("/layout/body.html",{title:'字典管理',libs:['jqgrid']}){%>
<section class="content">
    <div class="box box-main">
        <div class="box-header with-border">
            <h3 class="box-title">字典管理</h3>
            <div class="box-tools pull-right">
                <a href="#" class="btn btn-default btn-sm" id="btnSearch" title="查询"><i class="fa fa-filter"></i> 查询</a>
                <a href="/dict/form" class="btn btn-default btnTool btn-sm" title="新增字典"><i class="fa fa-plus"></i> 新增字典</a>
            </div>
        </div>
        <div class="box-body">
            <form style="margin: 10px" id="searchForm" action="${ctxPath}/dict/list" method="post" class="form-inline hide">
                <input name="isParent" type="hidden" value="1">
                <div class="form-group">
                    <label class="control-label">字典类型：</label>
                    <div class="control-inline">
                        <input class="form-control width-90" type="text" name="dictType">
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-sm btn-primary" style="width: 60px">查询</button>
                    <button type="reset" class="btn btn-default btn-sm">重置</button>
                </div>
            </form>
            <table id="dataGrid"></table>
            <div id="dataGridPage"></div>
        </div>
    </div>
</section>
<%}%>
<script>
    $('#dataGrid').dataGrid({
        searchForm: $("#searchForm"),
        columnModel: [
            {header: '字典名称', name: 'dictLabel', index: 'dict_label', width: 100, align: "center"},
            {header: '字典类型', name: 'dictType', index: 'dict_type', width: 100, align: "center"},
            {header: '描述', name: 'remarks', index: 'remarks', width: 100, align: "center"},
            {header: '创建时间', name: 'createTime', index: 'create_time', width: 100, align: "center"},
            {header: '修改时间', name: 'modifyTime', index: 'modify_time', width: 100, align: "center"},
            {header: '是否可见', name: 'dictStatus', index: 'dict_status', width: 100, align: "center", formatter: function (val, obj, rows, act){
                    return bet.transDictLabel(${DictUtils.getDictListJson('sys_if')}, val, '<font color=#aaa>未设置</font>');
             }},
            {
                header: '操作',
                name: 'actions',
                width: 120,
                sortable: false,
                title: false,
                formatter: function (val, obj, rows, act) {
                    var actions = [];
                    actions.push('<a href="/dict/form?dictId=' + rows.dictId + '" class="btnList" title="编辑字典信息"><i class="fa fa-pencil"></i></a>&nbsp;');
                    actions.push('<a href="/dict/dictChildren?dictId=' + rows.dictId + '" class="btnList" title="管理子字典"><i class="fa fa-navicon"></i></a>&nbsp;');
                    actions.push('<a href="${ctxPath}/dict/delete?dictId=' + rows.dictId + '" class="btnList" title="删除字典信息" data-confirm="确认要删除字典信息吗？"><i class="fa fa-trash-o"></i></a>&nbsp;');
                    return actions.join('');
                }
            }
        ],
        // 加载成功后执行事件
        ajaxSuccess: function (data) {

        }
    });
</script>