<%layout("/layout/body.html",{title:'新增字典',libs:['validate','jqgrid']}){%>
<div class="content">
    <div class="box" style="margin-bottom: 0px">
        <div class="box-header with-border">
            <h3 class="box-title">添加字典</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <form style="margin: 10px" id="inputForm" class="form-horizontal">
            <div class="form-unit">字典基本信息</div>
            <div class="box-body no-padding">
                <input type="hidden" value="${user.userId!}" name="userId">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">
                                <span class="required " aria-required="true">*</span>账号
                            </label>
                            <div class="col-sm-8">
                                <#input id="username" class="form-control required" underline="true" value="${user.username!}" inputIcon="fa fa-user-o" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">
                                <span class="required " aria-required="true">*</span> 用户名
                            </label>
                            <div class="col-sm-8">
                                <#input id="name" class="form-control required" underline="true" value="${user.name!}" inputIcon="fa fa-user-circle"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-check"></i>保 存</button>&nbsp;
                        <button type="button" class="btn btn-sm btn-default" onclick="bet.closeTab()"><i class="fa fa-reply-all"></i> 关 闭</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <%}%>
    <script>
        //提交用户表单
        $("#inputForm").validate({
            submitHandler: function(form){
                bet.ajax("${ctxPath}/user/saveOrUpdate",$(form).serializeArray(),function (data) {
                    if(data.success){
                        parent.refreshTabByTitle("用户管理");
                        bet.closeTab();
                    }else{
                        bet.showErrorMessage("保存失败，请查看日志");
                    }
                });
            }
        });
    </script>