<%layout("/layout/body.html",{title:'字典管理',libs:['jqgrid']}){%>
<section class="content">
    <div class="box" style="margin-bottom: 0px">
        <div class="box-header with-border">
            <h3 class="box-title">字典管理</h3>
            <div class="box-tools pull-right">
                <a href="#" class="btn btn-default btn-sm" id="btnSearch" title="查询"><i class="fa fa-filter"></i> 查询</a>
                <a href="#" class="btn btn-default btn-sm" id="btnS" title="新增" onclick="bet.addTabPage('新增字典','/dict/form')"><i class="fa fa-filter"></i> 新增</a>
            </div>
        </div>
        <div class="box-body">
            <form style="margin: 10px" id="searchForm" action="${ctxPath}/dict/list" method="post" class="form-horizontal hide">
                <input id="pageNo" name="pageNo" type="hidden" value="0">
                <input id="pageSize" name="pageSize" type="hidden" value="50">
                <input id="orderBy" name="orderBy" type="hidden" value="">
                <input name="isParent" type="hidden" value="1">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">字典类型</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" name="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-sm btn-primary">查询</button>
                        <button type="reset" class="btn btn-default btn-sm">重置</button>
                    </div>
                </div>
            </form>
            <table id="dataGrid"></table>
            <div id="dataGridPage"></div>
        </div>
    </div>
</section>
<%}%>
<script>
    $('#dataGrid').dataGrid({
        searchForm: $("#searchForm"),
        autoGridHeight: true, // 自动表格高度
        columnModel: [
            {header: '字典名称', name: 'dictLabel', index: 'dict_label', width: 100, align: "center"},
            {header: '字典类型', name: 'dictType', index: 'dict_type', width: 100, align: "center"},
            {header: '描述', name: 'description', index: 'description', width: 100, align: "center"},
            {header: '状态', name: 'status', index: 'status', width: 100, align: "center"},
            {header: '创建时间', name: 'createTime', index: 'create_time', width: 100, align: "center"},
            {
                header: '操作',
                name: 'actions',
                width: 120,
                sortable: false,
                title: false,
                formatter: function (val, obj, row, act) {
                    var actions = [];
                    actions.push('<a href="/dict/form?dictId=' + row.dictId + '" class="btnList" title="编辑字典信息"><i class="fa fa-pencil"></i></a>&nbsp;');
                    actions.push('<a href="/dict/dictChildren?dictId=' + row.dictId + '" class="btnList" title="添加子菜单"><i class="fa fa-navicon"></i></a>&nbsp;');
                    actions.push('<a href="${ctxPath}/dict/delete?dictId=' + row.dictId + '" class="btnList" title="删除字典信息" data-confirm="确认要删除字典信息吗？"><i class="fa fa-trash-o"></i></a>&nbsp;');
                    return actions.join('');
                }
            }
        ],
        // 加载成功后执行事件
        ajaxSuccess: function (data) {

        }
    });
</script>