<%layout("/layout/body.html",{title:'新增角色',libs:['validate']}){%>
<div class="content">
    <div class="box" style="margin-bottom: 0px">
        <div class="box-header with-border">
            <h3 class="box-title">添加角色</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <form style="margin: 10px" id="inputForm" class="form-horizontal">
            <div class="form-unit">角色基本信息</div>
            <div class="box-body no-padding">
                <input type="hidden" value="${role.roleId!}" name="roleId">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">
                                <span class="required " aria-required="true">*</span>角色名称
                            </label>
                            <div class="col-sm-8">
                                <#input id="roleName" class="form-control required" underline="true" value="${role.roleName}" inputIcon="fa fa-user-o" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">
                                <span class="required " aria-required="true">*</span> 所属部门
                            </label>
                            <div class="col-sm-8">
                                <#treeInput name="deptName" class="required" value='${role.deptName!}' url='/office/getOfficeTree' hiddenName="deptId" hiddenValue='${role.deptId!}'/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                备注
                            </label>
                            <div class="col-sm-10">
                                <#textarea id="description" class="form-control" rows="4" value="${user.description!}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-check"></i>保 存</button>&nbsp;
                        <button type="button" class="btn btn-sm btn-default" onclick="bet.closeTab()"><i class="fa fa-reply-all"></i> 关 闭</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <%}%>
    <script>
        $(function () {
            //校验用户名是否合法
            $("#roleName").blur(function(){
                var oldRoleName = "${role.roleName!''}";
                var roleName = $(this).val();
                if(roleName == ''){
                    return;
                }
                bet.ajax("${ctxPath}/role/checkRoleName",{roleName:roleName,oldRoleName:oldRoleName},function (res) {
                    if(res == false){
                        bet.showErrorMessage("此角色名称数据库中已存在，请换一个账号试试");
                        return;
                    }
                });
            });
        });
        //提交用户表单
        $("#inputForm").validate({
            submitHandler: function(form){
                bet.ajax("${ctxPath}/role/saveOrUpdate",$(form).serializeArray(),function (data) {
                    if(data.success){
                        bet.showMessage(data.message);
                        bet.closeTabRefreshTable();
                    }else{
                        bet.showErrorMessage(data.message);
                    }
                });
            }
        });
    </script>